<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XQuantiPy</title>
    {{styling}}
    <style>
        header {
            padding: 10px;
            text-align: center;
        }

        section {
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }

        button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div>
    <header style="background-color: #f2f5fa; color: #111111;">
        <h1>XQuantiPy</h1>
        <p>Open Source Python Financial Package</p>
    </header>

    <section>
        <h2>Welcome to XQuantiPy</h2>
        <p>
            You are running the stand alone server
        </p>

        <h3>Key Features:</h3>
        <ul>
            <li>Historic market data</li>
            <li>Advanced analytics and reporting</li>
            <li>Financial dashboards</li>
            <li>Python-powered flexibility</li>
            <li>Open source</li>
        </ul>
        <a href="http://localhost:8000/stocks" class="a-button">Stocks</a>
        <a href="http://localhost:8000/economics" class="a-button">Economics</a>
    </section>

    <section id="xquantipy-documentation">
        <h2>Documentation</h2>
        <p>
            Dive into the comprehensive documentation to learn how to integrate and leverage the power of our financial
            package for your specific needs.
        </p>
        <a href="https://xquantipy.readthedocs.io/en/latest/" class="a-button">Read Documentation</a>
    </section>
    <section>
        <footer>
            <p>&copy; 2023 XQuantiPy</p>
        </footer>
    </section>
</div>
</body>
</html>
