<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XQuantiPy - Stock</title>
    {{styling}}
</head>
<body>
<h1>XQuantiPy - <span id="tickerName", type="text">{{stock}}</span></h1>
<div>
    <label for="stock_symbol">Stock symbol:</label>
    <input type="text" id="stock_symbol" name="stock_symbol" placeholder="AAPL or TSLA">
</div>
<div>
    <label for="stock_period">Period:</label>
    <input type="text" id="stock_period" name="stock_period" placeholder="1Y or 10Y">
</div>
<label for="options">Select an option:</label>
<select id="options" onchange="updateFilters()">
    <option value="default">Select an option</option>
    <option value="moving_average">Moving Average</option>
    <option value="macd">Moving Average Convergence Divergence</option>
</select>
<div id="filterContainerMa" style="display: none;">
    <div>
        <label for="maPeriods">Periods:</label>
        <input type="text" id="maPeriods" name="periods">
    </div>
    <div>
        <label for="maType">Type:</label>
        <input type="text" id="maType" name="type">
    </div>
</div>
<button onclick="submitFilters()">Submit</button>
<div>
    {{plot}}
</div>
</body>

<script>
    function updateFilters() {
        var selectedOption = document.getElementById("options").value;
        var filterContainerMa = document.getElementById("filterContainerMa");
        filterContainerMa.style.display = "none";
        if (selectedOption === "moving_average") {
            filterContainerMa.style.display = "block";
            document.getElementById("maPeriods").placeholder = "Enter Periods for MA ex: 20,30,40";
            document.getElementById("maType").placeholder = "Enter Type of MA - Simple or Exponential";
        } else if (selectedOption === "macd") {
            filterContainer.style.display = "block";
            document.getElementById("filter1").placeholder = "Enter filter for Option 2";
            document.getElementById("filter2").placeholder = "Enter another filter for Option 2";
        }
    }
    function submitFilters() {
        var selectedOption = document.getElementById("options").value;
        var ticker = encodeURIComponent(document.getElementById("stock_symbol").value);
        var period = encodeURIComponent(document.getElementById("stock_period").value);
        if (selectedOption === "moving_average") {
            var maPeriodsValue = encodeURIComponent(document.getElementById("maPeriods").value);
            var maType = encodeURIComponent(document.getElementById("maType").value);
            var url = "/stocks?symbol=" + ticker + "&period=" + period + "&indicators=" + selectedOption + "&type=" + maType + "&ma_period=" + maPeriodsValue
            window.location.href = url;
        } else if (selectedOption === "default") {
            var url = "/stocks?symbol=" + ticker + "&period=" + period
            window.location.href = url;
        }
    }
</script>
</html>
