<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XQuantiPy - Economics</title>
    <style>
        body {
            background-color: #111111;
            color: #f2f5fa;
            font-family: Arial, Helvetica, sans-serif;
            margin: 5%;
        }
    </style>
</head>


<body>
<h1>XQuantiPy - <span id="tickerName", type="text">{{country}}</span></h1>
<div>
    <label for="country_symbol">Country:</label>
    <input type="text" id="country_symbol" name="country_symbol">
    <label for="country_period">period:</label>
    <input type="text" id="country_period" name="country_period">
    <label for="indicator">indicator:</label>
    <input type="text" id="indicator" name="indicator">
</div>
<button onclick="submitFilters()">Submit</button>
<div>
    {{plot}}
</div>
</body>

<script>
    function submitFilters() {
        var country_symbol = encodeURIComponent(document.getElementById("country_symbol").value);
        var country_period = encodeURIComponent(document.getElementById("country_period").value);
        var indicator = encodeURIComponent(document.getElementById("indicator").value);
        var url = "/economics?country=" + country_symbol + "&period=" + country_period + "&indicator=" + indicator
        window.location.href = url;
        // if (selectedOption === "moving_average") {
        //     var maPeriodsValue = encodeURIComponent(document.getElementById("maPeriods").value);
        //     var maType = encodeURIComponent(document.getElementById("maType").value);
        //     var url = "/stocks?symbol=" + ticker + "&period=" + period + "&indicators=" + selectedOption + "&type=" + maType + "&ma_period=" + maPeriodsValue
        //     window.location.href = url;
        // } else if (selectedOption === "default") {
        //     var url = "/stocks?symbol=" + ticker + "&period=" + period
        //     window.location.href = url;
        // }
    }
</script>
</html>
