<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
</head>
<body>

<h1>XQuantiPy - {{stock}}</h1>

<div>
    {{plot}}
</div>
<label for="options">Select an option:</label>
<select id="options" onchange="updateFilters()">
    <option value="default">Select an option</option>
    <option value="ma">Moving Average</option>
    <option value="macd">Moving Average Convergence Divergence</option>
</select>

<div id="filterContainer" style="display: none;">
    <label for="filter1">Filter 1:</label>
    <input type="text" id="filter1" name="filter1">
    <label for="filter2">Filter 2:</label>
    <input type="text" id="filter2" name="filter2">
</div>
<button onclick="submitFilters()">Submit</button>
</body>
<script>
    function updateFilters() {
        var selectedOption = document.getElementById("options").value;
        var filterContainer = document.getElementById("filterContainer");
        filterContainer.style.display = "none";
        for (var i = 1; i <= 2; i++) {
            document.getElementById("filter" + i).value = "";
        }
        if (selectedOption === "ma") {
            filterContainer.style.display = "block";
            document.getElementById("filter1").placeholder = "Enter Type of MA - Simple or Exponential";
            document.getElementById("filter2").placeholder = "Enter Period for MA";
        } else if (selectedOption === "macd") {
            filterContainer.style.display = "block";
            document.getElementById("filter1").placeholder = "Enter filter for Option 2";
            document.getElementById("filter2").placeholder = "Enter another filter for Option 2";
        }
    }

    function submitFilters() {
        var selectedOption = document.getElementById("options").value;
        var filter1Value = encodeURIComponent(document.getElementById("filter1").value);
        var filter2Value = encodeURIComponent(document.getElementById("filter2").value);
        var url = "/target-page?option=" + selectedOption + "&filter1=" + filter1Value + "&filter2=" + filter2Value;
        window.location.href = url;
    }

</script>
</html>
